.jumbotron {
    /*background-color: #ff6666;*/
}

.carousel .item {
    min-width: 100%;
    min-height: 500px;
    max-height: 500px;
}

.myNavbar {
    min-width: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.navbar-default li {
    list-style-type: none;
}

.link-registration {
    text-align: center;
}

.myHF {
    text-align: center;
}